@{
    ViewBag.Title = "Home Page";
}


<section class="product-sec" style="background-image: url('@Url.Content("~/Content/Images/bg-today-offer.jpg")')">
    <div class="product-sec-inner">
        <div class="container">
            <h1 class="text-center font-open"><strong>OFFERS ENDING SOON</strong></h1>
            <div class="ws-slider">
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1" id="case1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>4 Offers</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Upto 20% cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1" id="case1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_1">
                                    <small>View Offers</small>
                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1" id="case2">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>8 Offers</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Upto 5% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1" id="case2">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_2">
                                    <small>View Offers</small>
                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1" id="case1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>View Offers</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1" id="case1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_3">
                                    <small>View Offers</small>
                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" id="case2">
                                    <small>View Offers</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1" id="case2">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_4">
                                    <small>View Offers</small>
                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1" id="case1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>View Offers</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1" id="case1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_5">
                                    <small>View Offers</small>
                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" id="case2">
                                    <small>View Offers</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1" id="case2">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_6">
                                    <small>View Offers</small>
                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_1" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_2" class="row added-case2 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_3" class="row added-case2 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_4" class="row added-case2 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_5" class="row added-case2 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_6" class="row added-case2 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12" style="padding-top: 20px; padding-bottom: 20px">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="ad-sec ad-big">

    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <img src="@Url.Content("~/Content/Images/ad-960x180.jpg")">
            </div>
            <div class="back">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
    </div>

</section>
<section class="product-sec">
    <div class="product-sec-inner">
        <div class="container">
            <h1 class="text-center">
                <strong>
                    CASHBACK <br>
                    from hundreds of stores
                </strong>
            </h1>
            <div class="ws-slider">
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_7">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_8">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_9">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_10">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="added_case_7" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_8" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_9" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_10" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="pd-10 text-right">
                <h2><a href=""><strong>More Offer <i class="fa fa-caret-right"></i></strong></a></h2>
            </div>
        </div>
    </div>
</section>
<section class="ad-sec">
    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <img src="@Url.Content("~/Content/Images/ad-732x94.jpg")">
            </div>
            <div class="back">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
    </div>

</section>
<section class="product-sec">
    <div class="product-sec-inner">
        <div class="container">
            <h1 class="text-center">
                <strong>
                    THIS WEEK'S <br>
                    most popular deals
                </strong>
            </h1>
            <div class="ws-slider">
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_11">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_12">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_13">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_14">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_11" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_12" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_13" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_14" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-10 text-right">
                <h2><a href=""><strong>More Offer <i class="fa fa-caret-right"></i></strong></a></h2>
            </div>
        </div>
    </div>
</section>
<section class="ad-sec">
    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <img src="@Url.Content("~/Content/Images/ad2-732x94.jpg")">
            </div>
            <div class="back">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</div>
        </div>
    </div>
</section>
<section class="product-sec">
    <div class="product-sec-inner">
        <div class="container">
            <h1 class="text-center">
                <strong>
                    NEW STORES, EXCLUSIVE OFFERS
                    and More
                </strong>
            </h1>
            <div class="ws-slider">
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_15">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_16">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_17">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer-card-outer">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/offer-1.jpg")">
                            </div>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <h4>Up To 10% Cashback</h4>
                            <p class="card-details">FREE Amazonia Protein 500gm with any 1 Kilo Amazonia Slim&Trim protein!</p>
                            <div class="clearfix">
                                <div class="offer-box1">
                                    Go To Store
                                </div>
                                <div class="offer-box2" data-added-case="added_case_18">
                                    <small>2 Offers</small>

                                </div>
                            </div>
                            <div class="offer-code">
                                CODE: 45545989
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_15" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_16" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_17" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="added_case_18" class="row added-case1 added-case" style="display: none;">
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-cs-12">
                    <div class="offer-card">
                        <div class="card-front">
                            <div class="offer-img">
                                <img src="@Url.Content("~/Content/Images/panelLogo.jpg")" class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="card-back">
                            <p class="mb30 mt15"><strong>Innovations (AU & NZ)</strong></p>
                            <p class="mb0">
                                Name: Fill your home with Christmas cheer! Shop Garlands, Trees and more
                                at Innovations. Click Here! Description: Fill your home with Christmas
                                <a href="" class="readMore">  Read more..</a>
                            </p>
                            <p class="mb30"><strong>Cashback upto 8.00 %</strong></p>
                            <p class="mb30"><strong>Use this code at the store checkout:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-10 text-right">
                <h2><a href=""><strong>More Offer <i class="fa fa-caret-right"></i></strong></a></h2>
            </div>
        </div>
    </div>
</section>
<section class="ad-sec">
    <ul id="scroll-logos">
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-1.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-2.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-3.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-4.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-5.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-6.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-7.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-8.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-9.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-1.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-1.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-2.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-3.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-4.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-5.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-6.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-7.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-8.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-9.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-1.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-1.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-2.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-3.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-4.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-5.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-6.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-7.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-8.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-9.jpg")"></a>
        </li>
        <li>
            <a href=""><img src="@Url.Content("~/Content/Images/logo-1.jpg")"></a>
        </li>
    </ul>
</section>